# Заполнение пропусков

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('weather.csv')

In [3]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [5]:
df.isnull().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [6]:
numerical_cols = ['MinTemp', 'MaxTemp', 'Rainfall', 'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm'
                  , 'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Temp9am', 'Temp3pm']

In [7]:
df[numerical_cols].isnull().sum()

MinTemp           1485
MaxTemp           1261
Rainfall          3261
WindGustSpeed    10263
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Temp9am           1767
Temp3pm           3609
dtype: int64

In [8]:
df[numerical_cols] = df[numerical_cols].fillna(df[numerical_cols].mean())

In [9]:
df[numerical_cols].isnull().sum()

MinTemp          0
MaxTemp          0
Rainfall         0
WindGustSpeed    0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Temp9am          0
Temp3pm          0
dtype: int64

In [10]:
categorical_cols = ['WindGustDir', 'WindDir9am', 'WindDir3pm']

In [11]:
df[categorical_cols].isnull().sum()

WindGustDir    10326
WindDir9am     10566
WindDir3pm      4228
dtype: int64

In [12]:
df[categorical_cols] = df[categorical_cols].fillna('without_value')

In [13]:
df[categorical_cols].isnull().sum()

WindGustDir    0
WindDir9am     0
WindDir3pm     0
dtype: int64

In [14]:
df['RainTomorrow'].isnull().sum()

3267

In [15]:
df = df.dropna()

In [16]:
df['RainTomorrow'].isnull().sum()

0

In [17]:
df.isnull().sum()

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

In [18]:
df = df.drop(columns=['Sunshine','Evaporation','Cloud3pm','Cloud9am','Location' ,'Date'],axis=1)

# Перекодирование признаков

In [19]:
df = pd.get_dummies(df, columns=categorical_cols)

In [22]:
df.head()

,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,...,WindDir3pm_NW,WindDir3pm_S,WindDir3pm_SE,WindDir3pm_SSE,WindDir3pm_SSW,WindDir3pm_SW,WindDir3pm_W,WindDir3pm_WNW,WindDir3pm_WSW,WindDir3pm_without_value
6049,17.9,35.2,0.0,48.0,6.0,20.0,20.0,13.0,1006.3,1004.4,...,0,0,0,0,0,1,0,0,0,0
6050,18.4,28.9,0.0,37.0,19.0,19.0,30.0,8.0,1012.9,1012.1,...,0,0,0,1,0,0,0,0,0,0
6052,19.4,37.6,0.0,46.0,30.0,15.0,42.0,22.0,1012.3,1009.2,...,0,0,0,0,0,0,0,0,0,0
6053,21.9,38.4,0.0,31.0,6.0,6.0,37.0,22.0,1012.7,1009.1,...,0,0,0,0,0,0,0,0,1,0
6054,24.2,41.0,0.0,35.0,17.0,13.0,19.0,15.0,1010.7,1007.4,...,0,0,0,0,0,0,0,1,0,0

In [23]:
df['RainToday']

6049      No
6050      No
6052      No
6053      No
6054      No
          ..
142298    No
142299    No
142300    No
142301    No
142302    No
Name: RainToday, Length: 62294, dtype: object

In [24]:
df['RainTomorrow']

6049      No
6050      No
6052      No
6053      No
6054      No
          ..
142298    No
142299    No
142300    No
142301    No
142302    No
Name: RainTomorrow, Length: 62294, dtype: object

In [25]:
mapping = {'No' : 0, 'Yes' : 1 }

In [26]:
df['RainToday'] = df['RainToday'].map(mapping)

In [27]:
df['RainToday']

6049      0
6050      0
6052      0
6053      0
6054      0
         ..
142298    0
142299    0
142300    0
142301    0
142302    0
Name: RainToday, Length: 62294, dtype: int64

In [28]:
df['RainTomorrow'] = df['RainTomorrow'].map(mapping)

In [29]:
df['RainTomorrow']

6049      0
6050      0
6052      0
6053      0
6054      0
         ..
142298    0
142299    0
142300    0
142301    0
142302    0
Name: RainTomorrow, Length: 62294, dtype: int64

In [30]:
df.to_csv('weather_preprocessed.csv')